# Object files
*.o
*.ko
*.obj
*.elf
*.exe
*.raw
# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files & directories
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Build directories (Commonly used by CMake/Make)
[Bb]uild/
[Dd]ist/

# Prerequisites
*.d

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
